# Week 1, Day 4

**In this class we will learn about:**
- Tuples
- Lists
- Dictionaries

## Tuples

A Tuple is a collection which is ordered and unchangeable. Tuples are written with round brackets. The values can be repeated, but their number is always finite.

In [3]:
# Is this a tuple?

# type(t1)
t1 = (1, 2, 3)
t1
type(t1)

tuple

In [6]:
# Is this a tuple

# type(t2)
t2 = ("red", 1, False)
t2
type(t2)

tuple

In [7]:
# make a longer tuple
t3 = (1,2,3,4)

# print the first item in that tuple 
t3[0]

1

In [8]:
#print a the first second and third items in the tuple
print(t3[0], t3[1], t3[2])

1 2 3

In [14]:
#re-assign the second item to a letter

# you can't change tuples 
# if you wanted to change a value, you would have to make the tuple into a list
t3_list = list(t3)
print(t3_list)
t3_list[1] = 'f'
print(t3_list)

[1, 2, 3, 4]
[1, 'f', 3, 4]

In [16]:
# make a tuple with strings
string_tuple = ("hi", "hello", "bye", "see you later")
print(string_tuple)

('hi', 'hello', 'bye', 'see you later')

### Excercise 1: 
1.   create a tuple with your favorite hobbies, tv shows, etc. ordered by your highest favorit to the lowest
2.   access the last item in the tuple and print it out
3. print out the last item in the tuple in the following formating --> " My least favorite hobby is -----"

In [5]:
hobbies = ("hanging with friends", "traveling", "skiiing", "painting", "baking")
print(hobbies[-1]) # -1 index access the last value
print("My least favorite hobby is " + hobbies[-1])

baking
My least favorite hobby is baking

In [6]:
#hobbies_fav = 
# tuples are round bracket
#print out the last item in the tuple in the following formating --> " My least favorite hobby is -----"
print("Hello,",hobbies[-1]) #other way to print things

Hello, baking

## Lists

Lists are used to store multiple items in a single variable. Lists are one of 4 built-in data types in Python used to store collections of data. They are created using square brackets

In [19]:
#make some lists
l1 = [1,2,3,4,5]
l2 = ["hi", "blue", "bye"]
l3 = ["coffee", 3, "matcha", 4]

In [20]:
# Check if item in a list
if "hi" in l2:
    print("item found")

item found

### List operatoins

In [22]:
# make some numerical lists
numbers = [0,1,2,2]

In [24]:
#Multiply a list by a number?
print(numbers)
numbers_2 = numbers*2
print(numbers_2)# multiplyign a list by a number creats a new list with repeated elements

[0, 1, 2, 2]
[0, 1, 2, 2, 0, 1, 2, 2]

In [25]:
#Add two lists together?
print(numbers)
print(numbers_2)
print(numbers + numbers_2)
# addign lists together concatenates them

[0, 1, 2, 2]
[0, 1, 2, 2, 0, 1, 2, 2]
[0, 1, 2, 2, 0, 1, 2, 2, 0, 1, 2, 2]

In [32]:
# Mulitply the first item in a by 5
numbers[0]
numbers[0] * 5
numbers[1] * 5 # multiplying an item by a number will multiply the value by that number

125

In [31]:
#Reassign the first item in a to be that same number * 5
numbers[1] *= 5
numbers[1]

25

In [12]:
#check

### Lists slices

In [34]:
# create a list of strings
words = ["apple", "banana", "cherry", "peach"]

In [35]:
#what is the last item of the list
print(words[-1])

peach

In [37]:
#get the items at 
# items at index 1-3
print(words[1:4])

['banana', 'cherry', 'peach']

### List methods (append, extend, sort, pop, and remove)

In [39]:
#have a list to work with
colors = ["pink", "purple", "red", "blue"]
print(colors)

['pink', 'purple', 'red', 'blue']

In [41]:
#appending = adding item to end of list
# snytax: list_name.append(thing_u_want_to_append)
colors.append("yellow")
print(colors)

['pink', 'purple', 'red', 'blue', 'yellow', 'yellow']

In [42]:
#make another list 
shapes = ["square", "circle", "triangle"]
print(shapes)

['square', 'circle', 'triangle']

In [44]:
#extending = adding items from one list to another list
# syntax: list_u_want_to_add_too.extend(list_you_are_adding)
colors.extend(shapes)
print(colors)

['pink', 'purple', 'red', 'blue', 'yellow', 'yellow', 'square', 'circle', 'triangle', 'square', 'circle', 'triangle']

In [48]:
#sorting = sort a list from small to big
numbers = [2,3,5,5,2,3,]
print(numbers)
numbers.sort()
print(numbers)

[2, 3, 5, 5, 2, 3]
[2, 2, 3, 3, 5, 5]

In [12]:
unsorted_list = ['Jake', 'John', 'Mike', 'Grace']
sorted_list=unsorted_list.sort()
print(unsorted_list)

['Grace', 'Jake', 'John', 'Mike']

In [50]:
#deleteing 
# list_name.remove(thing_to_remove)
# .remove() removes the first occurence of the item u want to remove
print(colors)
colors.remove("yellow")
print(colors)

['blue', 'circle', 'circle', 'pink', 'purple', 'red', 'square', 'square', 'triangle', 'triangle', 'yellow', 'yellow']
['blue', 'circle', 'circle', 'pink', 'purple', 'red', 'square', 'square', 'triangle', 'triangle', 'yellow']

In [56]:
#pop() 
list2 = ["red", "white", "blue"]
print(list2)
list2.pop() #takes away the last item in the list, returns that same item
print(list2)
# pop a specifc item by index of list
list3 = ["green", "yellow", "blue"]
print(list3)
second_item = list3.pop(1)
print(second_item)
print(list3)

['red', 'white', 'blue']
['red', 'white']
['green', 'yellow', 'blue']
yellow
['green', 'blue']

In [58]:
#pop at a specific position (position 2)[not the same as 2nd item]

# position 2 = index 2
new_list = ["one", "two", "three", "four", "five", "six"]
print(new_list)
pop_position2 = new_list.pop(2)
print(new_list)
print(pop_position2)

['one', 'two', 'three', 'four', 'five', 'six']
['one', 'two', 'four', 'five', 'six']
three

In [ ]:
# position = INDEX NUMBER

In [60]:
#pop position 1
print(new_list.pop(1))
print(new_list)

four
['one', 'five', 'six']

In [62]:
#pop the first thing in the list
print(new_list)
print(new_list.pop(0))

['one', 'five', 'six']
one

In [63]:
#resetting the list
# clear() - makes empty list/clears the list
# or, create copy of list beroe .pop() and set popped list to original list
original_list = ["one", "two", "three", "four", "five", "six"]
print(new_list)
new_list = original_list
print(new_list)

['five', 'six']
['one', 'two', 'three', 'four', 'five', 'six']

In [64]:
#assign the popped item
popped_item = new_list.pop(2)
print("The popped item: " + popped_item)

The popped item: three

In [65]:
# Remove
# list_name.remove(thing-2-remove)
print(new_list)
new_list.remove("one") # removes first instance of 1 in the list
print(new_list)

# del keyoword deletes the item at the index 
del new_list[0]
print(new_list)
# remove is basically pop but instead of going by index u can say what u wanna remove
# pop is u have error and dont know what it is

['one', 'two', 'four', 'five', 'six']
['two', 'four', 'five', 'six']
['four', 'five', 'six']

In [67]:
# len(list_name) --> tells u the number of items in a list 
len(new_list)

3

checking the length of the list

### Excercise 2:
1. create a list of the courses you took last year
2. create a list of the courses you will take next year
3. Add the lists together
4. print the 3rd item of the new list
5. print the middle 3 values using slicing
6. delete one of the items in the list and assign it to a new variable
7. can you add the deleted item back using append?
8. sort the courses
9. let's say you found a mistake in the list, can you update it?
10. **BIG TASK:** 
  - add an input statement to check if the course is in your lists, 
  - **if** the course is in last years list, print out ("I took this course last year") 
  - **elif** it was in the next year list, print out ("I will take it next year") 
  - **else** print out, ("this course is not in my lists")

In [71]:
# 1- classes taken this year
classes_yr2 = ["MUEL1832","PSYC2012","PSYC2111","ANTH1170","INFO1701","NRSC2125","PSYC3111","PSYC3303"]
print(classes_yr2)


# 2- classes being taken next year in fall
classes_yr3 = ["SLHS1010", "INFO3401", "NRSC2150", "INFO4306", "WRT3030", "PSYC4541"]
print(classes_yr2)

# 3- add lists
classes_yr2_3 = classes_yr2 + classes_yr3
print(classes_yr2_3)

# 4- 3rd item of new list
classes_yr2_3_item3 = classes_yr2_3[2]
print(classes_yr2_3_item3)

['MUEL1832', 'PSYC2012', 'PSYC2111', 'ANTH1170', 'INFO1701', 'NRSC2125', 'PSYC3111', 'PSYC3303']
['MUEL1832', 'PSYC2012', 'PSYC2111', 'ANTH1170', 'INFO1701', 'NRSC2125', 'PSYC3111', 'PSYC3303']
['MUEL1832', 'PSYC2012', 'PSYC2111', 'ANTH1170', 'INFO1701', 'NRSC2125', 'PSYC3111', 'PSYC3303', 'SLHS1010', 'INFO3401', 'NRSC2150', 'INFO4306', 'WRT3030', 'PSYC4541']
PSYC2111

In [78]:
# 5 - print the middle 3 values using slicing
# find lenght of list and divide by 2 for middle val (use floor division - will round result
# down to nears whole number)
# slicing stops before end index
print(classes_yr2_3)
middle_index = len(classes_yr2_3) // 2 # middle index is 7, but we want middle 3 values (not by index), so use 6
print(middle_index) # middle index is odd, so it is the 
middle_3_values = classes_yr2_3[middle_index - 2 : middle_index + 1]
print(middle_3_values)

['MUEL1832', 'PSYC2012', 'PSYC2111', 'ANTH1170', 'INFO1701', 'NRSC2125', 'PSYC3111', 'PSYC3303', 'SLHS1010', 'INFO3401', 'NRSC2150', 'INFO4306', 'WRT3030', 'PSYC4541']
7
['NRSC2125', 'PSYC3111', 'PSYC3303']

In [88]:
# 6- delete one of the items in the list and assign it to a new variable
print(classes_yr2_3)
deleted_class = classes_yr2_3.pop(0)
print(classes_yr2_3)


# 7- can you add the deleted item back using append?
classes_yr2_3.append(deleted_class)
print(classes_yr2_3)
# 8- sort the courses
print(classes_yr2_3.sort())

['ANTH1170', 'INFO1701', 'INFO3401', 'INFO4306', 'NRSC2125', 'NRSC2150', 'PSYC2012', 'PSYC2111', 'PSYC3111', 'PSYC3303', 'PSYC4541', 'SLHS1010', 'WRT3030']
['INFO1701', 'INFO3401', 'INFO4306', 'NRSC2125', 'NRSC2150', 'PSYC2012', 'PSYC2111', 'PSYC3111', 'PSYC3303', 'PSYC4541', 'SLHS1010', 'WRT3030']
['INFO1701', 'INFO3401', 'INFO4306', 'NRSC2125', 'NRSC2150', 'PSYC2012', 'PSYC2111', 'PSYC3111', 'PSYC3303', 'PSYC4541', 'SLHS1010', 'WRT3030', 'ANTH1170']
None

In [89]:
# 9- let's say you found a mistake in the list, can you update it?
# yes. 1) if there was a mistake at an index, you would get the index of the mistake (ex. anth1170 shld b anth1172)
index_mistake = classes_yr2_3.index("ANTH1170")
print(index_mistake)
classes_yr2_3[index_mistake] = "ANTH1172" # put correct value in the index
print(classes_yr2_3)

0
['ANTH1172', 'INFO1701', 'INFO3401', 'INFO4306', 'NRSC2125', 'NRSC2150', 'PSYC2012', 'PSYC2111', 'PSYC3111', 'PSYC3303', 'PSYC4541', 'SLHS1010', 'WRT3030']

In [94]:
# 10- 
# add an input statement to check if the course is in your lists,
# if the course is in last years list, print out ("I took this course last year")
# elif it was in the next year list, print out ("I will take it next year")
# else print out, ("this course is not in my lists")

classes_yr2 = ["MUEL1832","PSYC2012","PSYC2111","ANTH1170","INFO1701","NRSC2125","PSYC3111","PSYC3303"]
print(classes_yr2)
classes_yr3 = ["SLHS1010", "INFO3401", "NRSC2150", "INFO4306", "WRT3030", "PSYC4541"]
print(classes_yr2)
classes_yr2_3 = classes_yr2 + classes_yr3
print(classes_yr2_3)

check_class = input("What course do you want to check?")
#in_lists = check_class in classes_yr2_3
#print(in_lists)
if check_class in classes_yr2:
    print("I took this course last year")
elif check_class in classes_y3:
    print("I will take it next year")
else:
    print("this course is not in my lists")

['MUEL1832', 'PSYC2012', 'PSYC2111', 'ANTH1170', 'INFO1701', 'NRSC2125', 'PSYC3111', 'PSYC3303']
['MUEL1832', 'PSYC2012', 'PSYC2111', 'ANTH1170', 'INFO1701', 'NRSC2125', 'PSYC3111', 'PSYC3303']
['MUEL1832', 'PSYC2012', 'PSYC2111', 'ANTH1170', 'INFO1701', 'NRSC2125', 'PSYC3111', 'PSYC3303', 'SLHS1010', 'INFO3401', 'NRSC2150', 'INFO4306', 'WRT3030', 'PSYC4541']

What course do you want to check? INFO1701

I took this course last year

# Dictionaries

Dictionaries are used to store data values in key:value pairs. Dictionaries cannot have two items with the same key.

Dictionary items are ordered, changeable, and do not allow duplicates. Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

In [95]:
#make an empty dictionary
dict = {}

In [96]:
#check the type
print(type(dict))

<class 'dict'>

In [13]:
#make a dicitonary about a car
car = {
    "brand": "Porsche",
    "model": 911,
    "year": 2020, 
    "color": "white"}
print(car)

{'brand': 'Porsche', 'model': 911, 'year': 2020, 'color': 'white'}

In [99]:
#get the brand of the car
print(car["brand"])

Porsche

In [15]:
#check if the value 'color' is in the dictionary
for key in car:
    if key == "color":
        print("the key color was found")
"color" in car # this only checks the KEYS

the key color was found

True

In [106]:
# make a new dictionary key:value pair assigning a name to the car 
car["name"] = "Flash"
print(car)

{'brand': 'Porsche', 'model': 911, 'year': 2020, 'color': 'white', 'name': 'Flash'}

In [107]:
#return out all of the dictionary values
print(car.values()) # values() resturns the values of the keys in a dictionary

dict_values(['Porsche', 911, 2020, 'white', 'Flash'])

In [108]:
#return all of the dictionary keys
print(car.keys()) # .keys() returns all the keys in a dictionary

dict_keys(['brand', 'model', 'year', 'color', 'name'])

In [110]:
#change the color of the car
car["color"] = "pink"
print(car["color"])

pink

In [112]:
#return all the items in the dictionary
print(car.items()) # dict_name.items() returns all key:value pairs in dictionary

dict_items([('brand', 'Porsche'), ('model', 911), ('year', 2020), ('color', 'pink'), ('name', 'Flash')])

In [117]:
#get rid of the name of the car
del car["name"] # will delete the key name OR # car.pop("name") --> name of key u want to delete
print(car)

{'brand': 'Porsche', 'model': 911, 'year': 2020, 'color': 'pink'}

In [120]:
#clear the dictionary
print(car)
car.clear()
print(car)

{}
{}

### Excercise 3:
1. create a dictionary of an item you own
2. Print out the dictionary keys
3. print out the dicionary values
4. add a key, value pair to the dictionary (another information about your object)
5. update one of the items in the dictionary
6. **BIG TASK:** 
  - add an input statement to read a key, and another one to read a value. The
  - **if** the key is in the dictionary, update the current value. **else** create a new key value pair using the input informtion
  - print out everything!

In [139]:
# 1 - dic
trip = { "place": "san fransisco", "leave date": "June 2", "return date": "June 6", "budget": 200}
print(trip)

# 2- print keys
print(trip.keys())

# 3- print values
print(trip.values())

# 4- add key:value pair 
trip["activities"] = ["beach", "shop", "swim"]
print(trip)

# 5- update 
trip["return date"] =  "June 20"
print(trip)

# 6- add input to a key
#read key 
key = input("Enter the key to read/update").strip().lower()
# read value 
value = input("Enter the value to read/update").strip().lower()

print(trip)

if key in trip:
    print("key found. updating " + key + " from " + trip[key] + " to "+ value)
else:
    print("key not found. adding the new key:value pair: " + key + ":" + value)
    trip[key] = value
print(trip)

{'place': 'san fransisco', 'leave date': 'June 2', 'return date': 'June 6', 'budget': 200}
dict_keys(['place', 'leave date', 'return date', 'budget'])
dict_values(['san fransisco', 'June 2', 'June 6', 200])
{'place': 'san fransisco', 'leave date': 'June 2', 'return date': 'June 6', 'budget': 200, 'activities': ['beach', 'shop', 'swim']}
{'place': 'san fransisco', 'leave date': 'June 2', 'return date': 'June 20', 'budget': 200, 'activities': ['beach', 'shop', 'swim']}

Enter the key to read/update airline
Enter the value to read/update united

{'place': 'san fransisco', 'leave date': 'June 2', 'return date': 'June 20', 'budget': 200, 'activities': ['beach', 'shop', 'swim']}
key not found. adding the new key:value pair: airline:united
{'place': 'san fransisco', 'leave date': 'June 2', 'return date': 'June 20', 'budget': 200, 'activities': ['beach', 'shop', 'swim'], 'airline': 'united'}