# Week 2 Summary Activity

## Problem 1 - Dictionaries

In [2]:
student_dictionary = { 101 : {'Name': 'George Bluth',
                              'AverageScore': 85,
                               'Year' : 2,
                              'Class' : 'INFO1201'
                              },
                     102 : {'Name': 'Lucille Bluth',
                              'AverageScore': 100,
                               'Year' : 3,
                              'Class' : 'INFO1201'
                              },
                     103 : {'Name': 'George Michael Bluth',
                              'AverageScore': 98,
                               'Year' : 1,
                              'Class' : 'INFO1101'
                              },
                     104 : {'Name': 'Michael Bluth',
                              'AverageScore': 90,
                               'Year' : 5,
                              'Class' : 'INFO2201'
                              },
                     105 : {'Name': 'Gob Bluth',
                              'AverageScore': 40,
                               'Year' : 8,
                              'Class' : 'INFO1101'
                              },
                     106 : {'Name': 'Lindsay Bluth',
                              'AverageScore': 70,
                               'Year' : 4,
                              'Class' : 'INFO1201'
                              },
                     107 : {'Name': 'Buster Bluth',
                              'AverageScore': 95,
                               'Year' : 2,
                              'Class' : 'INFO1201'
                              },
                     108 : {'Name': 'Sally Sitwell',
                              'AverageScore': 93,
                               'Year' : 2,
                              'Class' : 'INFO1201'
                              }}

#### Question 1:
Iterate through the dictionary and print out students names and their average score
Ex: Lucille Bluth : 98

In [10]:
for student in student_dictionary.values(): # iterates thru the values of each key in the dictionary
    print( student["Name"]+": "+ str(student["AverageScore"]))
    # print the value at the key called "Name" and Averagescore for each student

George Bluth: 85
Lucille Bluth: 100
George Michael Bluth: 98
Michael Bluth: 90
Gob Bluth: 40
Lindsay Bluth: 70
Buster Bluth: 95
Sally Sitwell: 93

#### Question 2:
Find the student with the highest average score

In [7]:
highest_score = 0 # start with highest score being 0
student_w_score = " " 

for student in student_dictionary.values(): # loop thru the values of each student key in the dictionary
   # print(student)
    # check if current student's score is higher than highest_score
    if student["AverageScore"] > highest_score: 
        highest_score = student["AverageScore"]
        student_w_score = student["Name"]
print("The student with the highest score is: " + student_w_score + ", who scored a " + str(highest_score))

{'Name': 'George Bluth', 'AverageScore': 85, 'Year': 2, 'Class': 'INFO1201'}
{'Name': 'Lucille Bluth', 'AverageScore': 100, 'Year': 3, 'Class': 'INFO1201'}
{'Name': 'George Michael Bluth', 'AverageScore': 98, 'Year': 1, 'Class': 'INFO1101'}
{'Name': 'Michael Bluth', 'AverageScore': 90, 'Year': 5, 'Class': 'INFO2201'}
{'Name': 'Gob Bluth', 'AverageScore': 40, 'Year': 8, 'Class': 'INFO1101'}
{'Name': 'Lindsay Bluth', 'AverageScore': 70, 'Year': 4, 'Class': 'INFO1201'}
{'Name': 'Buster Bluth', 'AverageScore': 95, 'Year': 2, 'Class': 'INFO1201'}
{'Name': 'Sally Sitwell', 'AverageScore': 93, 'Year': 2, 'Class': 'INFO1201'}
The student with the highest score is: Lucille Bluth, who scored a 100

#### Question 3:
Find the total average of all the students

In [17]:
total_average = 0
#add all 
#ivide by number of keys 
scores_added = 0
for student in student_dictionary.values():
    scores_added += student["AverageScore"]
    print (int(scores_added))
num_of_scores = len(student_dictionary)
print(str(num_of_scores))
average = scores_added / num_of_scores

print("The total average is: " + str(average))

85
185
283
373
413
483
578
671
8
The total average is: 83.875

## Problem 2 - Functions

Create a function to read two six-sided dice, each with faces containing one, two, three, four, five and six spots, respectively. When the dice come to rest, the sum of the spots on the two upward faces is calculated. If the sum is 7 or 11 on the first roll, you win. If the sum is 2, 3 or 12 on the first roll (called “craps”), you lose (i.e., the “house” wins). If the sum is 4, 5, 6, 8, 9 or 10 on the first roll, that sum becomes your “point.” To win, you must continue rolling the dice until you “make your point” (i.e., roll that same point value). You lose by rolling a 7 before making your point.

In [35]:
import random # use for rolling the dice and getting random numbers

def diceRoll():
    dice1 = random.random(1,6) 
    print("The first dice roll is a " + str(dice1))

    dice2 = random.random(1,6) 
    print("The second dice roll is a " + str(dice2))

    sum = dice1 + dice2
    print("The sum of the 2 die is: " + str(sum))
    return sum

def thegame():
    roll1 = diceRoll() # get the sum from the first dice roll
    
    if sum == 7 or sum == 11:
        print("You rolled a 7 or an 11. You win!")
        return
    elif sum == 2 or sum == 3 or sum == 12:
        print("You rolled either a 2, 3, or 12. Crap, you lose!")
        return

    else:
        # sum == 4 or sum == 5 or sum == 6 or sum == 8 or sum == 9 or sum == 10:
        print("You rolled either a 4, 5, 6, 8, 9 or 10. You have " + str(sum) + " points.")
        print("role the same number again to win")
        
        point = roll1 
        
        while

## Problem 3 - Classes

#### Question 1:

Build a class object for restaurant informatoin. The class should have the following:
1.   A method that reads dishes and append them to a list or a dictionary
2.   A method that prints out the saved dishes

In [31]:
class Restaurant():
    def __init__(self, name, dishes): # make list to store the different dishes 
        self.dishes = dishes
        self.name = name

    def newDish(self, dishName):
        self.dishes.append(dishName) # add new dish to list of dishes
    def printDishes(self):
        menu = ",".join(self.dishes)
        print("Menu: " + menu)

#### Question 2:

create a class instance

In [32]:
in_n_out = Restaurant("In N Out", ["burger", "fries"])

'Good Old Burgers'

#### Question 3:
use the two methods you created

In [33]:
in_n_out.newDish("soda")
in_n_out.printDishes()

Menu: burger,fries,soda

#### Question 4:

update a value you have in the class instance you created

In [34]:
in_n_out.name = "IN AND OUT BURGER"
print(in_n_out.name)

IN AND OUT BURGER